<div id="room" phx-hook="Room" class="h-dvh flex flex-col py-2" data-client-id={@client_id}>
  <div class="flex flex-1 min-h-0">
    <div id="streams-container" class="w-full h-full grid gap-2 p-2 auto-rows-fr grid-cols-1 place-items-center" phx-update="ignore">
      <div id="videoplayer-local-wrapper" class="w-full h-full">
        <video id="videoplayer-local" class="rounded-xl w-full h-full object-cover" autoplay muted>
        </video>
      </div>
    </div>
  </div>

  <div class="flex gap-3 justify-center">
    <button id="camera-toggle" class="bg-red-500 text-white px-4 py-2 rounded-full" phx-update="ignore">
      <.icon id="camera-toggle-icon-muted" name="hero-video-camera-slash" />
      <.icon id="camera-toggle-icon" name="hero-video-camera-solid" class="hidden" />
    </button>
    <button id="mic-toggle" class="bg-red-500 text-white px-4 py-2 rounded-full" phx-update="ignore">
      <.icon id="mic-toggle-icon-muted" name="hero-microphone" />
      <.icon id="mic-toggle-icon" name="hero-microphone-solid" class="hidden" />
    </button>
  </div>
</div>

<% # Hacky solution to enable autoplay when joining a room %>
<% # https://stackoverflow.com/a/70720034/9376804 %>
<iframe src="https://olafwempe.com/mp3/silence/silence.mp3" type="audio/mp3" allow="autoplay" id="audio" style="display:none"></iframe>

<% # Fallback: Open a dialog to let user interact with the page %>
<.modal :if={!@flash["joined_room"]} id="joined_room_modal" show={!@flash["joined_room"]}>
  Kindness matters! Please stay respectful and polite during your chats. 😊
</.modal>
